<form [formGroup]="loginform" novalidate (ngSubmit)="onSubmit($event)">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              type="email"
              matInput
              placeholder="Email"
              formControlName="email"
            />
            <mat-error *ngIf="emailField.hasError('required')">
              email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="emailField.hasError('email')">
              email isn't <strong>valid</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-error *ngIf="passwordField.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="passwordField.hasError('minLength')">
              Password need al lest <strong>8 characters</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginform.invalid"
      >
        Submit
      </button>

      <button
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="loginform.invalid"
        (click)="loginRest()"
      >
        Submit Rest
      </button>
    </mat-card-actions>
  </mat-card>
</form>
